html, body {
  margin: 0;
  font-family: "proxima-nova", sans-serif;
  text-decoration: none; 
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

br {
  display: block;
  content: "";
  margin: 4px 0;
}

a {
  color: #000;
}

header {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 70px;
    background: transparent;
    color: #666;
    z-index: 1000000;
}

header.clonedHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transform: translateY(-100%);
    border-bottom: 1px solid rgb(210,210,210);
    transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
}

body.down header.clonedHeader {
    transform: translateY(0);
}

.logo {
  float: left;
  margin: 20px 5px 0;
  letter-spacing: 2px;
  font-size: 1.3em;
  color: #fff;
  font-weight: 900;
}

.contact-top {
  margin: 17px 10px;
  text-align: center;
  padding: 0.6em 1.5em;
  background-color: transparent;
  text-shadow: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  text-decoration: none;
  line-height: 20px;
  float: right;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.contact-top:hover {
  background-color: rgba(0,0,0,.4);
}

.background {
    background: url('../img/bg-top.png');
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

.top {
  min-width: 100%;
  max-height: 70px;
  padding: 0 1% 0;
  margin: 0 auto;
  position: absolute;
  z-index: 100000;
}

.fullscreen,
.content-a {
    width:100%;
    height:100%;
    overflow:hidden;
}
.fullscreen.overflow,
.fullscreen.overflow .content-a {
    height:auto;
    min-height:100%;
}

/* content centering styles */
.content-a {
  display:table;
}
.content-b {
  display:table-cell;
  position:relative;
  vertical-align:middle;
  text-align:center;
}

.arrows {
    bottom: 2%;
    left:0;
    right:0;
    margin: 0 auto 0;
    position: absolute;
    text-align: center;
}

.arrow {
  max-height: 12px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

h1 {
  max-width: 1000px;
  margin: 8px auto 0;
  text-align: center;
  color: #fff;
  font-size: 3.4em;
  font-weight: 900;
  letter-spacing: 3px; 
}

.tagline {
  max-width: 700px;
  margin: 12px auto 30px;
  text-align: center;
  color: #fff;
  font-size: 1.30em;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 32px;
}

.field-wrap input, 
textarea {
  height: 50px;
  width: 380px;
  padding: 10px 15px;
  outline: 0;
  border: #fff;
  border-radius: 3px;
  font-size: 1.1em;
  letter-spacing: 0.5px;
}

.field-wrap button {
  padding: 10px 5px;
  margin-left: 5px;
  color: #fff;
  background-color: #3CB878;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 3px;
  width: 200px;
  height: 50px;
  border: 1px solid #3CB878;
}

.field-wrap button:hover {
  background-color: #48bf7c;
}

.introduction {
  width: 100%;
  height: 1160px;
  background-color: #fff;
  text-align: center;
  padding: 50px 8% 0;
  overflow: hidden;
}

.intro, 
.cleaning,
.groceries,
.helpr,
.laundry,
.services,
.checkout,
.partners,
.reclaim,
.status,
.reorder {
  font-size: 1.55em;
  color: #3c4858;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.intro-description,
.checkout-description,
.partners-description {
  margin: 15px auto 60px;
  max-width:740px;
  text-align: center;
  font-size: 1.10em;
  line-height: 1.7;
  font-weight: 400;
  color: #8492a6;
}

.iphone-1 {
  max-height: 800px;
}

.house-cleaning,
.do-laundry {
  width: 100%;
  padding-top: 42px;
  background-color: #F9615B;
  text-align: center;
  overflow: hidden;
  height: 732px;
}

.main-cleaning-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.cleaning-wrap,
.laundry-wrap {
   float: left;
}

.cleaning,
.laundry {
  color: #fff;
  margin: 25px auto 12px;
  text-align: left;
}

.cleaning-title {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  text-align: left;
  margin-top: 225px; 
}

.cleaning-description,
.laundry-description {
  font-size: 1.10em;
  line-height: 1.7;
  font-weight: 400;
  color: #fff;
  max-width: 380px;
  margin: 0 auto;
  text-align: left;
}

.cleaning-title:before {
  content: "";
  background-image: url('../img/cleaning-icon.png');
  background-size: 18px 18px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 28px;
}

.iphone-group {
  margin-top: 50px;
  max-height: 640px;
  float: right;
}

.groceries-delivery {
  width: 100%;
  padding-top: 42px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  height: 902px;
}

.main-groceries-wrap {
  max-width: 960px;
  margin: 0 auto;
}

.groceries-wrap,
.services-wrap {
   float: right;
}

.groceries {
  margin: 25px auto 12px;
  text-align: left;
}

.groceries-description,
.helpr-description,
.services-description,
.reclaim-description,
.status-description,
.reorder-description {
  font-size: 1.10em;
  line-height: 1.7;
  font-weight: 400;
  color: #8492a6;
  max-width: 520px;
  margin: 0 auto;
  text-align: left;
}

.groceries-description {
  max-width: 460px;
}

.groceries-title:before {
  content: "";
  background-image: url('../img/groceries-icon.png');
  background-size: 15px 19px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 25px;
}

.groceries-title {
  font-size: 1em;
  font-weight: 400;
  color: #8492a6;
  text-align: left;
  margin-top: 275px; 
}

.iphone-2 {
  margin-top: 30px;
  margin-left: 5%;
  max-height: 825px;
  float: left;
}

.helpr-free {
  width: 100%;
  height: 350px;
  background-color: #448CCB;
}

.helpr-wrap {
  max-width: 490px;
  margin: 0 auto;
  padding-top: 72px;
}

.helpr,
.early {
  color: #fff;
  font-size: 2.2em;
  font-weight: 900;
  text-align: center;
  margin: 0px auto 20px;
}

.helpr-description {
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.emojis-group {
  text-align: center;
}

.emojis {
  max-height: 38px;
}

.main-laundry-wrap {
  max-width: 960px;
  margin: 0 auto;
}

.laundry-wrap {
  margin-left: 50px;
}

.laundry {
  color: #3c4858;
}

.laundry-title {
  font-size: 1em;
  font-weight: 400;
  color: #8492a6;
  text-align: left;
  margin-top: 310px
}

.do-laundry {
  height: 900px;
  background-color: #fff;
}

.laundry-description {
  color: #8492a6;
  max-width: 400px;
  font-size: 1.10em;
}

.laundry-title:before {
  content: "";
  background-image: url('../img/laundry-icon.png');
  background-size: 15px 18px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 27px;
}

.iphone-3 {
  margin-top: 50px;
  max-height: 756px;
  float: right;
}

.home-services {
  max-width: 1200px;
  margin: 0 auto;
}

.main-services-wrap {
  margin-right: 50px;
}

.services-wrap {
  max-width: 480px;
}

.services {
  margin: 25px 0 12px;
  line-height: 1.4;
  text-align: left;
  max-width: 420px;
}

.services-title {
  margin: 210px 0 20px;
}

.services-title {
  font-size: 1em;
  font-weight: 400;
  color: #8492a6;
  text-align: left;
}

.services-description {
  max-width: 480px;
}

.services-title:before {
  content: "";
  background-image: url('../img/services-icon.png');
  background-size: 20px 20px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.iphone-4 {
  margin-top: 0;
  margin-left: 8%;
  max-height: 703px;
  float: left;
}

.app-checkout {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.main-checkout-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.checkout {
  margin-top: 110px;
}

.checkout-description {
  max-width: 530px;
  margin-bottom: 40px;
}

.screens {
  max-height: 800px;
}

.early-access {
  width: 100%;
  height: 230px;
  background-color: #605ca8;
}

.main-early-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.reclaim-life {
  height: 1000px;
  border-top: 1px rgb(230,230,230) solid;
  border-bottom: 1px rgb(230,230,230) solid;
  background-color: #FBFBFA;
}

.rec {
  max-width: 1000px;
  margin: 0 auto;
}

.status-main,
.reorder-main,
.reclaim-main {
  max-width: 800px;
  height: 320px;
  margin: 0 auto;
}

.reclaim-wrap,
.status-wrap {
  margin: 90px auto 0;
  max-width: 400px;
  float: left;
}

.people-icon, 
.status-icon {
  float: right;
}

.reorder-wrap {
  margin:90px auto 0;
  max-width: 400px;
  float: right;
}

.reorder-icon {
  float: left;
}

.people {
  margin: 50px 50px 0 0;
  max-height: 210px;
}

.reorder-ico {
  margin: 70px 0 0 70px;
  max-height: 190px;
}

.status-ico {
  margin: 120px 110px 0 0;
  max-height: 145px;
}

.early-wrap {
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
}

.early {
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 30px;
  color: #fff;
}

.app-partners {
  width: 100%;
  background-color: #fff;
  height: 420px;
}

.partners-wrap {
  text-align: center;
  margin: 0 auto;
}

.partners {
  margin-top: 118px;
}

.partners-description {
  max-width: 600px;
  margin-bottom: 15px;
}

.companies {
  max-width: 700px;
  margin: 0 auto;
}

.taskrabbit, 
.cleanly {
  max-height: 50px;
}

.instacart,
.handy,
.fc,
.taskrabbit,
.cleanly {
  margin-right: 50px;
  margin-top: 30px;
}

.instacart {
  max-height: 40px;
}

.handy {
  max-height: 64px;
}

.fc {
  max-height: 33px;
}

footer {
  padding: 0 2%;
  border-top: 1px #e6e6e6 solid;
  background-color: #fff;
  color: #a0a0a0;
  text-align: left;
  letter-spacing: 0.75px;
  font-weight: 500;
  font-size: 0.85em;
}

.footer-wrap {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  max-width: 960px;
  margin: 0 auto;
}

.email-contact {
  align-self: center;
}

.footer-right {
  flex-grow: 1;
  align-self: center;
  text-align: center;
}

.mixpanel {
   align-self: center;
}
.mix-wrap {
  flex-grow: 1;
}

.contact-bottom:hover {
  opacity: 0.85;
}

.contact-bottom:before {
  content: "";
  background-image: url('../img/email.png');
  background-size: 20px 14px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.heart {
  color: #ed0f04;
}









/**************************************************************** 
*****************************************************************
*****************************************************************

MEDIA QUERIES

*****************************************************************
*****************************************************************
****************************************************************/

/*@media screen and (max-width: 1153px) and (min-width: 769px) {


}
*/

@media screen and (max-width: 768px) and (min-width: 481px) {


.groceries-description,
.helpr-description,
.services-description,
.reclaim-description,
.status-description,
.reorder-description,
.cleaning-description,
.laundry-description,
.status-description,
.reorder-description,
.reclaim-description {
  max-width: 520px;
  text-align: center;
}

.introduction {
  height: 1180px;
}

.groceries-delivery,
.do-laundry {
  height: 1100px;
}

.reclaim-life {
  height: 1500px;
}

.house-cleaning {
  height: 938px;
}

.cleaning-wrap,
.laundry-wrap,
.groceries-wrap,
.services-wrap,
.iphone-group,
.status-wrap,
.reorder-wrap,
.reclaim-wrap,
.iphone-2,
.iphone-3,
.iphone-4,
.status-icon,
.reorder-icon,
.people-icon {
   float: none;
   text-align: center;
}

.laundry-wrap {
  margin: 0 auto;
}

.iphone-2 {
  margin-top: 50px;
}

.iphone-4  {
  margin: 0 auto;
}

.home-services {
  text-align: center;
}

.cleaning-title,
.cleaning,
.groceries-title,
.groceries,
.laundry-title,
.laundry,
.services-title,
.services,
.status {
  text-align: center;
}

.cleaning-title,
.groceries-title,
.laundry-title,
.services-title {
  margin-top: 30px;
}

.main-services-wrap,
.services,
.services-wrap {
  margin: 0 auto;
}

.services-description {
  margin: 10px 0 55px 0;
}

.checkout {
  margin-top: 90px;
}

.reclaim-life {
  margin: 0 auto;
  text-align: center;
}

.status-main {
  height: 330px;
}

.reorder-main,
.reclaim-main {
  height: 400px;
}

.status-ico,
.reorder-ico,
.people {
  margin: 50px auto 80px;
}

.status-wrap,
.reorder-wrap,
.reclaim-wrap {
  max-width: 700px;
}



}



@media screen and (max-width: 480px) and (min-width: 321px) {

.introduction,
.house-cleaning,
.groceries-delivery,
.helpr-free,
.do-laundry,
.home-services,
.app-checkout,
.reclaim-life,
.app-partners,
.early-access {
  padding: 0 5%;
}

h1 {
  font-size: 2.3em;
}

.tagline {
  max-width: 400px;
}

.field-wrap input, 
textarea {
  width: 350px;
}

.field-wrap button {
  margin: 10px auto 0;
  width: 350px;
}

.intro, 
.cleaning,
.groceries,
.helpr,
.laundry,
.services,
.checkout,
.partners,
.reclaim,
.status,
.reorder {
  font-size: 1.45em;
}

.intro {
  margin-top: 55px;
}

.early {
  font-size: 1.2em;
}

.intro-description,
.groceries-description,
.helpr-description,
.services-description,
.reclaim-description,
.status-description,
.reorder-description,
.cleaning-description,
.laundry-description,
.status-description,
.reorder-description,
.reclaim-description,
.partners-description {
  max-width: 520px;
  text-align: center;
  font-size: 1.1em;
}

.introduction {
  height: 1130px;
}

.groceries-delivery,
.do-laundry {
  height: 1100px;
}

.reclaim-life {
  height: 1500px;
}

.house-cleaning {
  height: 665px;
}

.app-partners {
  height: 715px;
}

.early-access {
  height: 282px;
}

.groceries-delivery {
  height: 1200px;
}

.helpr-wrap {
  padding-top: 62px;
}

.cleaning-wrap,
.laundry-wrap,
.groceries-wrap,
.services-wrap,
.iphone-group,
.status-wrap,
.reorder-wrap,
.reclaim-wrap,
.iphone-2,
.iphone-3,
.iphone-4,
.status-icon,
.reorder-icon,
.people-icon {
   float: none;
   text-align: center;
}

.laundry-wrap {
  margin: 0 auto;
}

.cleaning-title,
.groceries-title,
.laundry-title,
.services-title {
  padding-top: 40px;
}

.iphone-2 {
  margin-top: 50px;
}

.iphone-4  {
  margin: 0 auto;
}

.home-services {
  text-align: center;
}

.cleaning-title,
.cleaning,
.groceries-title,
.groceries,
.laundry-title,
.laundry,
.services-title,
.services,
.status {
  text-align: center;
}

.cleaning-title,
.groceries-title,
.laundry-title,
.services-title {
  margin-top: 30px;
}

.main-services-wrap,
.services,
.services-wrap {
  margin: 0 auto;
}

.services-description {
  margin: 10px 0 55px 0;
}

.app-checkout {
  height: 1000px;
}
.checkout {
  margin-top: 90px;
}

.screens {
  max-width: 2200px;
  margin-left: -80px;
}

.reclaim-life {
  margin: 0 auto;
  text-align: center;
}

.status-main {
  height: 330px;
}

.reorder-main,
.reclaim-main {
  height: 400px;
}

.status-ico,
.reorder-ico,
.people {
  margin: 50px auto 80px;
}

.status-wrap,
.reorder-wrap,
.reclaim-wrap {
  max-width: 700px;
}

.instacart,
.handy,
.fc,
.taskrabbit,
.cleanly {
  margin: 22px 50px;
}

.partners {
  margin-top: 75px;
}

.partners-description {
  margin-bottom: 30px;
}

.footer-wrap {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  max-width: 960px;
  margin: 0 auto;
  flex-direction: column
}

.footer-right {
  order: 1;
  margin: 12px 0;
}

.email-contact {
  order: 2;
  margin-bottom: 27px;
}

.mixpanel {
  order: 3;
  margin-bottom: 16px;
}

}

/***************** 

FIM 

*****************/




@media screen and (min-device-width: 320px) and (max-device-width: 568px) {


        /***********************************

        iPhone 5

        ************************************/

.introduction,
.house-cleaning,
.groceries-delivery,
.helpr-free,
.do-laundry,
.home-services,
.app-checkout,
.reclaim-life,
.app-partners,
.early-access {
  padding: 0 5%;
}

.logo {
  float: none;
  margin: 30px auto 0;
  text-align: center;
}

.contact-top {
  display: none;
}

h1 {
  font-size: 1.65em;
}

.tagline {
  max-width: 400px;
  font-size: 1.05em;
  line-height: 1.6;
}

.field-wrap input, 
textarea {
  width: 280px;
  font-size: 0.95em;
}

.field-wrap button {
  margin: 10px auto 0;
  width: 280px;
}

.intro, 
.cleaning,
.groceries,
.helpr,
.laundry,
.services,
.checkout,
.partners,
.reclaim,
.status,
.reorder {
  font-size: 1.45em;
}

.intro {
  margin-top: 55px;
}

.early {
  font-size: 1.1em;
}

.intro-description,
.groceries-description,
.helpr-description,
.services-description,
.reclaim-description,
.status-description,
.reorder-description,
.cleaning-description,
.laundry-description,
.status-description,
.reorder-description,
.reclaim-description,
.partners-description {
  max-width: 520px;
  text-align: center;
  font-size: 1em;
}

.intro-description {
  margin-bottom: 40px;
}

.introduction {
  height: 910px;
}

.house-cleaning {
  height: 575px;
}

.groceries-delivery {
  height: 1020px;
}

.helpr-free {
  height: 400px;
}

.do-laundry {
  height: 975px;
}

.reclaim-life {
  height: 1275px;
}

.app-partners {
  height: 735px;
}

.early-access {
  height: 282px;
}

.helpr-wrap {
  padding-top: 62px;
}

.cleaning-wrap,
.laundry-wrap,
.groceries-wrap,
.services-wrap,
.iphone-group,
.status-wrap,
.reorder-wrap,
.reclaim-wrap,
.iphone-2,
.iphone-3,
.iphone-4,
.status-icon,
.reorder-icon,
.people-icon {
   float: none;
   text-align: center;
}

.laundry-wrap {
  margin: 0 auto;
}

.cleaning-title,
.groceries-title,
.laundry-title,
.services-title {
  padding-top: 30px;
}

.iphone-2 {
  margin-top: 50px;
}

.iphone-3 {
  margin-top: 40px;
}

.iphone-4  {
  margin: 0 auto;
}

.home-services {
  text-align: center;
}

.cleaning-title,
.cleaning,
.groceries-title,
.groceries,
.laundry-title,
.laundry,
.services-title,
.services,
.status {
  text-align: center;
}

.cleaning-title,
.groceries-title,
.laundry-title,
.services-title {
  margin-top: 30px;
}

.main-services-wrap,
.services,
.services-wrap {
  margin: 0 auto;
}

.services-description {
  margin: 10px 0 40px 0;
}

.app-checkout {
  height: 1000px;
}

.checkout {
  margin-top: 90px;
}

.screens {
  max-width: 2200px;
  margin-left: -80px;
}

.reclaim-life {
  margin: 0 auto;
  text-align: center;
}

.status-main {
  height: 310px;
}

.reorder-main,
.reclaim-main {
  height: 325px;
}

.status-ico,
.reorder-ico,
.people {
  margin: 30px auto;
  max-height: 130px;
}

.status-ico {
  max-height: 110px;
}


.status-wrap,
.reorder-wrap,
.reclaim-wrap {
  max-width: 700px;
}

.status-wrap {
  margin-top: 70px;
}

.instacart,
.handy,
.fc,
.taskrabbit,
.cleanly {
  margin: 22px 10px;
}

.partners {
  margin-top: 65px;
}

.partners-description {
  margin-bottom: 30px;
}

.footer-wrap {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  max-width: 960px;
  margin: 0 auto;
  flex-direction: column
}

.footer-right {
  order: 1;
  margin: 12px 0;
}

.email-contact {
  order: 2;
  margin-bottom: 27px;
}

.mixpanel {
  order: 3;
  margin-bottom: 16px;
}




}



/***************** 

FIM 

*****************/

@media screen and (min-device-width: 360px) and (max-device-width: 640px) {
.note {
  height: 1285px;
}

footer {
  padding-top: 10px;
}

}


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  

        /***********************************

        iPhone 6

        ************************************/

.logo {
  font-size: 1.7em;
}
h1 {
  font-size: 1.85em;
}

.tagline {
  max-width: 300px;
  font-size: 1.05em;
  line-height: 1.6;
}

.field-wrap input, 
textarea {
  width: 300px;
  font-size: 0.95em;
}

.field-wrap button {
  margin: 10px auto 0;
  width: 300px;
}


.introduction {
  height: 965px;
}

.house-cleaning {
  height: 620px;
}

.groceries-delivery {
  height: 1110px;
}

.helpr-free {
  height: 370px;
}

.do-laundry {
  height: 1045px;
}

.reclaim-life {
  height: 1225px;
}

.app-partners {
  height: 735px;
}

.early-access {
  height: 280px;
}

.status-main {
  height: 280px;
}

.reorder-main,
.reclaim-main {
  height: 325px;
}

.instacart,
.handy,
.fc,
.taskrabbit,
.cleanly {
  margin: 22px 15px;
}

.mixpanel {
  margin-bottom: 30px;
}

}

/***************** 

FIM 

*****************/




@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 3) {
 
        /***********************************

        iPhone 6 Plus Portrait

        ************************************/

.logo {
  font-size: 1.85em;
}
h1 {
  font-size: 2em;
}

.tagline {
  max-width: 300px;
  font-size: 1.2em;
  line-height: 1.6;
}

.field-wrap input, 
textarea {
  width: 340px;
  font-size: 1.1em;
}

.field-wrap button {
  margin: 10px auto 0;
  width: 340px;
  font-size: 1.2em;
}

.intro, 
.cleaning,
.groceries,
.helpr,
.laundry,
.services,
.checkout,
.partners,
.reclaim,
.status,
.reorder {
  font-size: 1.50em;
  line-height: 1.5em;
}

.intro {
  margin-top: 55px;
}

.early {
  font-size: 1.2em;
}

.intro-description,
.groceries-description,
.helpr-description,
.services-description,
.reclaim-description,
.status-description,
.reorder-description,
.cleaning-description,
.laundry-description,
.status-description,
.reorder-description,
.reclaim-description,
.partners-description {
  max-width: 520px;
  text-align: center;
  font-size: 1.2em;
}

.intro-description {
  margin-bottom: 50px;
}

.introduction {
  height: 1078px;
}

.house-cleaning {
  height: 675px;
}

.groceries-delivery {
  height: 1250px;
}

.helpr-free {
  height: 405px;
}

.do-laundry {
  height: 1080px;
}

.reclaim-life {
  height: 1330px;
}

.app-partners {
  height: 765px;
}

.partners {
  margin: 65px auto 0;
  max-width: 300px;
}

.early-access {
  height: 280px;
}

.status-main {
  height: 300px;
}

.reorder-main,
.reclaim-main {
  height: 355px;
}

.instacart,
.handy,
.fc,
.taskrabbit,
.cleanly {
  margin: 22px 30px;
}


}

/***************** 

FIM 

*****************/




@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 3) {

        /***********************************

        iPhone 6 Plus Landscape

        ************************************/




}

/***************** 

FIM 

*****************/



